<ul id='bookmark_list'>
  <% @bookmarks.each do |bookmark| %>
    <li> <a class='bookmark' href='<%= bookmark.url %>'><%= bookmark.title %></a> <form action='/remove' method ='post'> <button name='removal_link' type='submit' value='<%= bookmark.id %>'>Remove <%= bookmark.title %></button></form></li>
    <% end %>
  </ul>

  <form action='/bookmarks/new' method='get'>
    <button type='submit'>Add bookmark</button>
  </form>

<!-- bookmark added
http://www.bbc.co.uk -->
